<section>
    <div class="overlay-spinner" *ngIf="loader">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden"></span>
        </div>
      </div>    
</section>
<app-nav></app-nav>
<div class="container-fluid page-body-wrapper">
<app-sidebar-admin></app-sidebar-admin>
 <!-- partial -->
 <div class="main-panel">
    <div class="content-wrapper" >
        <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold"><i class=" fa fa-bullseye"></i> Course Category Portal</h3>
                  <h6 class="font-weight-normal mb-0">All systems are running smoothly!</h6>
                </div>
                <div class="col-12 col-xl-4">
                 <div class="justify-content-end d-flex">
                  <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                    <button class="btn btn-md btn-primary" routerLink="/adminHome"> 
                        <i class="fa fa-home"></i> Dashboard
                     </button>
                  </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
        <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="card">            
                <div class="card-body">
                    <p class="card-title">Create Course Category</p>
                   <div class="row">
                    <div class="col-md-6">
                        <label for="">Category Name</label>
                        <input type="text" placeholder="Course Title" class="form-control" #course>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Category Description </label>
                            <div class="input-group">
                              <input type="text" class="form-control" placeholder="Course Description" aria-label="Recipient's username" #description>
                              <div class="input-group-append">
                                <button class="btn btn-sm btn-primary" type="button" (click)="save(course.value,description.value)"> <i class="fa fa-save"></i> Save</button>
                              </div>
                            </div>
                          </div>
                    </div>
                   </div>
            </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Course Category Information</p>
                  <div class="row">
                    <div class="col-12">
                      <div class="table-responsive">
                        <table id="example" class="display expandable-table" style="width:100%">
                          <thead>
                            <tr>
                              <th>keys#</th>
                              <th>Category Name</th>
                              <th>Description</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let itm of allCategory ">
                                <td>{{itm.id}}</td>
                                <td>{{itm.CourseCategory}}</td>
                                <td>{{itm.Description}}</td>
                                <td><button class="btn btn-danger btn-rounded btn-sm"  (click)="DeleteCategory(itm.id)">  <i class="fa fa-trash"></i> </button> </td>
                                <td></td>
                            </tr>
                          </tbody>
                      </table>
                      </div>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
   
</div>
</div>
