
    <!-- partial -->
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminHome">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminCustomer" >
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Customer</span>
            </a>            
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminCategory" >
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Course Category</span>
            </a>            
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminUpload" >
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Upload Course</span>
            </a>            
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminViews">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Course Library</span>
            </a>            
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/adminPay" >
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Pay History</span>
            </a>            
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Calendar">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Calendar</span>
            </a>            
          </li>         
        </ul>
      </nav>
      <!-- partial -->
  
  