<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo mr-5" routerLink="/dashboard" style="margin:10px">
        <img src="assets/images/logo.png" alt="" style="width: 80%;">
       <!-- <h4 style="margin:10px">
        <i class="fa fa-bullseye"></i> Project Rewire
       </h4> -->
        </a>
      <a class="navbar-brand brand-logo-mini" routerLink="/dashboard">
        <h4 style="padding:10px">
            <i class="fa fa-bulleye fa-2x" ></i>
        </h4>
    </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="icon-menu"></span>
      </button>
      <ul class="navbar-nav mr-lg-2">
        <li class="nav-item nav-search d-none d-lg-block">
          <div class="input-group">
            <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
              <span class="input-group-text" id="search">
                <i class="icon-search"></i>
              </span>
            </div>
            <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
          </div>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-right">
    
        <li class="nav-item dropdown">
          <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
            <i class="icon-bell mx-0"></i>
            <span class="count"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
            <!-- <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-success">
                  <i class="ti-info-alt mx-0"></i>
                </div>
              </div> -->
              <!-- <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal">Application Error</h6>
                <p class="font-weight-light small-text mb-0 text-muted">
                  Just now
                </p>
              </div> -->
            <!-- </a> -->
            <!-- <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-warning">
                  <i class="ti-settings mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal">Settings</h6>
                <p class="font-weight-light small-text mb-0 text-muted">
                  Private message
                </p>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-info">
                  <i class="ti-user mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal">New user registration</h6>
                <p class="font-weight-light small-text mb-0 text-muted">
                  2 days ago
                </p>
              </div>
            </a> -->
          </div>
        </li>
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
            <img src="assets/images/faces/face28.jpg" alt="profile"/>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item" routerLink="/dashboard">
              <i class="ti-settings text-primary"></i>
              Dashboard
            </a>
            <a class="dropdown-item" routerLink="/market">
              <i class="ti-settings text-primary"></i>
              Course
            </a>
            <a class="dropdown-item" routerLink="/classHistory">
              <i class="ti-settings text-primary"></i>
              History
            </a>
            <a class="dropdown-item" routerLink="/payment">
              <i class="ti-settings text-primary"></i>
              Payment
            </a>
            <a class="dropdown-item" href="mailto:support@projectrewire.com">
              <i class="ti-settings text-primary"></i>
              Report a Problem
            </a>
          </div>
        </li>
        <li class="nav-item d-none d-lg-flex text-danger" style="margin:0px !important"> 
          <a class="nav-link" href="#" style="font-size:27px" >
            <i class="fa fa-power-off" (click)="Logout()"></i>            </a>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas" >
        <!-- <span class="fa fa-home"></span> -->
      </button>
    </div>
  </nav>